@{
    ViewData["Title"] = "Customer Management";
}

<h1>Customer Management</h1>
<p>
    <a href="@Url.Action("AddCustomer", "Customer")" class="btn btn-primary">Add New Customer</a>
</p>
<p>
    <a href="@Url.Action("GetAllCustomers", "Customer")" class="btn btn-secondary">View All Customers</a>
</p>
