@{
    ViewData["Title"] = "Technician Management";
}

<h1>Technician Management</h1>
<p>
    <a href="@Url.Action("AddTechnician", "Technician")" class="btn btn-primary">Add New Technician</a>
</p>
<p>
    <a href="@Url.Action("GetAllTechnicians", "Technician")" class="btn btn-secondary">View All Technicians</a>
</p>
